{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Editar Dirección IP</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Editar Dirección IP</h1>
    <form method="post" action="{% url 'edit_ip' mac_address.id %}">
        {% csrf_token %}
        <div>
            <label for="ip_address">Dirección IP:</label>
            <input type="text" id="ip_address" name="ip_address" value="{{ mac_address.ip_address }}">
        </div>
        <div>
            <label for="user_name">Nombre de Usuario:</label>
            <input type="text" id="user_name" name="user_name" value="{{ mac_address.id_user.username }}">
        </div>
        <div>
            <label for="user_fullname">Nombre Completo:</label>
            <input type="text" id="user_fullname" name="user_fullname" value="{{ mac_address.id_user.name }}">
        </div>
        <button type="submit">Guardar</button>
        <a href="{% url 'search_ip' %}" class="btn btn-back">Cancelar</a>
    </form>
</body>
</html>
{% endblock %}
