{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>    
    <title>DIRECCIONES IP</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>direcciones ip</h1>
    <br>
    <div class="btn-group">
        <a href="{% url 'index' %}" class="btn btn-home">inicio</a>
        <a href="{% url 'register_ip' %}" class="btn btn-register">Registrar direcciones IP</a><br><br>
        <a href="{% url 'search_ip' %}" class="btn btn-search">Buscar direcciones IP</a><br><br>
    </div>    
</body>
</html>
{% endblock %}
