<!DOCTYPE html>
<html>
<head>
    <title>Registrar direcciones IP</title>
</head>
<body>
    <h1>Registrar direcciones IP</h1>
    <form method="post">
        {% csrf_token %}
        <label for="ip_address">Dirección IP:</label>
        <input type="text" id="ip_address" name="ip_address" required><br><br>
        <label for="user_name">Nombre de usuario:</label>
        <input type="text" id="user_name" name="user_name" required><br><br>
        <label for="user_fullname">Nombre completo:</label>
        <input type="text" id="user_fullname" name="user_fullname" required><br><br>
        <input type="submit" value="Registrar">
    </form>
</body>
</html>
