
<!DOCTYPE html>
<html>
<head>
    <title>buscar direcciones ip</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>buscar direcciones ip</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>direccion ip</th>
                <th>username</th>
            </tr>
        </thead>
        </tbody>
        {% for mac_address in mac_addresses %}
        <tr>
            <td>{{ mac_address.id }}</td>
            <td>{{ mac_address.ip_address }}</td>
            <td>{{ mac_address.id_user.username }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>