{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>buscar direcciones ip</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>buscar direcciones ip</h1>
    <form method="GET" action=" {% url 'search_ip' %}">
        <label for="user_name">Filtrar por nombre de usuario</label>
        <input type="text" id="user_name" name="user_name"
        placeholder="ingrese el nombre de usuario">
        <button type="submit">buscar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>direccion ip</th>
                <th>username</th>
                <th>nombre completo</th>
                <th>fecha de registro</th> 
                <th>sucursal</th>
                <th>editar</th>
            </tr>
        </thead>
        </tbody>
        {% for mac_address in mac_addresses %}
        <tr>
            <td>{{ mac_address.id }}</td>
            <td><a href="https://192.168.3.1/ng/system/dashboard/5?vdom={{ mac_address.ip_address }}" target="_blank">{{ mac_address.ip_address }}</a></td>
            <td>{{ mac_address.id_user.username }}</td>
            <td>{{ mac_address.id_user.name }}</td>
            <td>{{ mac_address.date_registered }}</td>
            <td>{{ mac_address.sucursal }}</td>
            <td>
                <a href="{% url 'edit_ip' mac_address.id %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}" class="btn btn-back">Volver</a>
</body>
</html>
{% endblock %}
